.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
}
.popup {
  position: absolute;
  left: 5%;
  width: 90%;
  background-color: white;
  height: fit-content;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  top: 40%;
}
@media (min-width: 768px) {
  .popup {
    width: 30rem;
    left: calc(50% - 15rem);
  }
}

@media screen and (max-width: 768px) {
  .popup {
    width: 80%;
    left: 5%;
  }
}
.dialogHeader {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.btnSection {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
}
.dialogTitle {
  display: flex;
  justify-content: space-between;
}
.closeX {
  font-weight: 400;
  cursor: pointer;
}
